{#{% extends 'base.html.twig' %}#}

{#{% block title %}Présentation{% endblock %}#}
{#{% block h2 %}{% endblock %}#}
{#{% block body %}#}
    <div style="text-align: center">
        <div style="height: 80vh; background-image: url('{{ asset('assets/img/presentation_projet1.png') }}');background-repeat: no-repeat;background-size: contain;background-position-x: center"></div>
        <div style="height: 80vh; background-image: url('{{ asset('assets/img/presentation2.png') }}');background-repeat: no-repeat;background-size: contain;background-position-x: center"></div>
        <div style="height: 80vh; background-image: url('{{ asset('assets/img/presentation3.png') }}');background-repeat: no-repeat;background-size: contain;background-position-x: center"></div>
        <div style="height: 80vh; background-image: url('{{ asset('assets/img/presentation4.png') }}');background-repeat: no-repeat;background-size: contain;background-position-x: center"></div>
        <div style="height: 80vh; background-image: url('{{ asset('assets/img/presentation5.png') }}');background-repeat: no-repeat;background-size: contain;background-position-x: center"></div>
        <div style="height: 80vh; background-image: url('{{ asset('assets/img/presentation6.png') }}');background-repeat: no-repeat;background-size: contain;background-position-x: center"></div>
{#        <div style="height: 80vh; background-image: url('{{ asset('assets/img/presentation7.png') }}');background-repeat: no-repeat;background-size: contain;background-position-x: center"></div>#}
        <div style="height: 80vh; background-image: url('{{ asset('assets/img/presentation8.png') }}');background-repeat: no-repeat;background-size: contain;background-position-x: center"></div>
{#        <div style="height: 80vh; background-image: url('{{ asset('assets/img/presentation9.png') }}');background-repeat: no-repeat;background-size: contain;background-position-x: center"></div>#}
{#        <div style="height: 80vh; background-image: url('{{ asset('assets/img/presentation10.png') }}');background-repeat: no-repeat;background-size: contain;background-position-x: center"></div>#}
{#        <div style="height: 80vh; background-image: url('{{ asset('assets/img/presentation11.png') }}');background-repeat: no-repeat;background-size: contain;background-position-x: center"></div>#}
            <aside class="pres-aside" style="position: fixed;bottom: 5vh;right:25vw;background-image: url('{{ asset('assets/img/fond_bas.png') }}');height: 10vh;width: 50vw;background-size: contain;background-repeat: no-repeat;background-position: center">
                <ul style="list-style: none;">
                    <img  src="{{ asset('assets/img/etape1.png') }}" alt="">
                    <img style="height: 10vh" src="{{ asset('assets/img/etape1.png') }}" alt="">
                    <img style="height: 10vh" src="{{ asset('assets/img/etape1.png') }}" alt="">
                    <img style="height: 10vh" src="{{ asset('assets/img/etape1.png') }}" alt="">
                    <img style="height: 10vh" src="{{ asset('assets/img/etape1.png') }}" alt="">
                    <img style="height: 10vh" src="{{ asset('assets/img/etape1.png') }}" alt="">
                    <img style="height: 10vh" src="{{ asset('assets/img/etape1.png') }}" alt="">
                </ul>


            </aside>

    </div>


{#{% endblock %}#}
