{% extends 'base.html.twig' %}

{% block h2 %}Créer un site{% endblock %}
{% block body %}
    {{ form_start(form) }}
        <div class="row align-items-top justify-content-between b-test mt-4">
            <div class="d-none d-md-block col b-test"></div>
            <div class="col-12 col-md-10 col-lg-6 d-flex justify-content-between">
                <div class="w-50 b-test">
                    <span class="fw-semibold">{{ form_label(form.siteName) }}</span>
                </div>
                <div class="w-100 b-test">
                    {{ form_widget(form.siteName) }}<br>
                    {{ form_errors(form.siteName) }}
                </div>
            </div>
            <div class="d-none d-md-block col b-test"></div>
        </div>
        <div class="text-md-center">
            <button type="submit" class="btn btn-success my-4 ">Ajouter</button>
        </div>
    {{ form_end(form) }}
{% endblock %}