{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}
{% block h2 %}Créer un utilisateur{% endblock %}
{% block body %}
    {{ form_start(form) }}
        <div class="row align-items-top justify-content-between b-test">
            <div class="d-none d-md-table-cell col-2 mt-4 b-test"></div>
            <div  class="col mt-4 b-test">
                <div class="d-flex justify-content-between mt-1">
                    <div class="w-50 b-test">
                        <span class="fw-semibold">{{ form_label(form.username) }}</span>
                    </div>
                    <div class="w-100 b-test">
                        {{ form_widget(form.username) }}
                        {{ form_errors(form.username) }}
                    </div>
                </div>

                <div class="mt-2">{{ form_label(form.userProfile) }}</div>
                <div class="d-flex justify-content-between mt-1">
                    <div class="w-50 b-test">
                        <span class="fw-semibold">{{ form_label(form.userProfile.lastName) }}</span>
                    </div>
                    <div class="w-100 b-test">
                        {{ form_widget(form.userProfile.lastName) }}<br>
                        {{ form_errors(form.userProfile.lastName) }}
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-1">
                    <div class="w-50 b-test">
                        <span class="fw-semibold">{{ form_label(form.userProfile.firstName) }}</span>
                    </div>
                    <div class="w-100 b-test">
                        {{ form_widget(form.userProfile.firstName) }}<br>
                        {{ form_errors(form.userProfile.firstName) }}
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-1">
                    <div class="w-50 b-test">
                        <span class="fw-semibold">{{ form_label(form.userProfile.phoneNumber) }}</span>
                    </div>
                    <div class="w-100 b-test">
                        {{ form_widget(form.userProfile.phoneNumber) }}<br>
                        {{ form_errors(form.userProfile.phoneNumber) }}
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-1">
                    <div class="w-50 b-test">
                        <span class="fw-semibold">{{ form_label(form.userProfile.emailAdress) }}</span>
                    </div>
                    <div class="w-100 b-test">
                        {{ form_widget(form.userProfile.emailAdress) }}<br>
                        {{ form_errors(form.userProfile.emailAdress) }}
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-1">
                    <div class="w-50 b-test">
                        <span class="fw-semibold">{{ form_label(form.userProfile.site) }}</span>
                    </div>
                    <div class="w-100 b-test">
                        {{ form_widget(form.userProfile.site) }}<br>
                        {{ form_errors(form.userProfile.site) }}
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-1">
                    <div class="w-50 b-test">
                        <span class="fw-semibold">{{ form_label(form.isAdmin) }}</span>
                    </div>
                    <div class="w-100 b-test">
                        {{ form_widget(form.isAdmin) }}<br>
                        {{ form_errors(form.isAdmin) }}
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-1">
                    <div class="w-50 b-test">
                        <span class="fw-semibold">{{ form_label(form.isActive) }}</span>
                    </div>
                    <div class="w-100 b-test">
                        {{ form_widget(form.isActive) }}<br>
                        {{ form_errors(form.isActive) }}
                    </div>
                </div>
            </div>
            <div class="d-none d-md-table-cell col-2 mt-4 b-test"></div>
        </div>
        <div class="text-md-center">
            <button type="submit" class="btn btn-success my-4 ">Enregistrer</button>
        </div>
    {{ form_end(form) }}
{% endblock %}