{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie{% endblock %}
{% block h2 %}Annuler la sortie : {{ activity.activityName }}{% endblock %}

{% block body %}

 {{ form_start(form) }}

<div>
    {{ form_label(form.cancellationReason) }}
    {{ form_widget(form.cancellationReason) }}
    {{ form_errors(form.cancellationReason) }}
</div>
    <button type="submit" class="btn btn-info "> Enregistrer </button>
    <a href="{{ referer }}" class="btn btn-secondary">Annuler</a>
    {{ form_end(form) }}

{% endblock %}
