{% extends 'base.html.twig' %}

{% block title %}create activitie{% endblock %}
{%  block h2 %}Créer une sortie{% endblock %}
{% block body %}


    {{ form_start(form) }}
        <div>
            {{ form_label(form.activityName) }}
            {{ form_widget(form.activityName) }}
            {{ form_errors(form.activityName) }}
        </div>

        <div>
            {{ form_label(form.startDate) }}
            {{ form_widget(form.startDate) }}
            {{ form_errors(form.startDate) }}
        </div>

        <div>
            {{ form_label(form.closingDate) }}
            {{ form_widget(form.closingDate) }}
            {{ form_errors(form.closingDate) }}
        </div>

        <div>
            {{ form_label(form.maxRegistration) }}
            {{ form_widget(form.maxRegistration) }}
            {{ form_errors(form.maxRegistration) }}
        </div>

        <div>
            {{ form_label(form.duration) }}
            {{ form_widget(form.duration) }}
            {{ form_errors(form.duration) }}
        </div>
        <div>
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>

{#        <div>#}
{#            {{ form_label(form.pictureUrl) }}#}
{#            {{ form_widget(form.pictureUrl) }}#}
{#            {{ form_errors(form.pictureUrl) }}#}
{#        </div>#}

        <div>
            {{ form_label(form.site) }}
            {{ form_widget(form.site, {'attr': {'default': app.user.userProfile.site.id}})}}
            {{ form_errors(form.site) }}
        </div>

        <div>
            {{ form_label(form.city) }}
            {{ form_widget(form.city,{'attr': {'id': 'select-city'}}) }}
            {{ form_errors(form.city) }}
        </div>
        <div id="testjs"></div>
        <div>
            {{ form_label(form.location) }}
            {{ form_widget(form.location,{'attr': {'id': 'select-location'}}) }}
            {{ form_errors(form.location) }}
            <a href="{{ path("activity_location_create")}}" class="btn btn-primary">+</a>
        </div>

        <div>
            <button type="submit" class="btn btn-info" name="btnActivity" value="save">Enregistrer</button>
            <button type="submit" class="btn btn-success" name="btnActivity" value="add">Publier la sortie</button>
            <a href="{{ path("activity_list") }}" class="btn btn-danger">Annuler</a>
        </div>
    {{ form_end(form) }}
{% endblock %}
