{% extends 'base.html.twig' %}
{% set regMax = activity.maxRegistration %}
{% set regNumber = activity.registrations|length %}

{% block title %}activity details{% endblock %}
{% block h2 %}
    {{ activity.activityName }}<br>
    {% if regNumber == regMax %}
        <span class="badge bg-danger complete-badge">Complet</span >
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row my-2">
        <div class="col">
            <p><span class="fw-semibold">Pseudo de l'organisateur : </span><a href="{{ path("user_profile",{'id': activity.organiser.user.id}) }}" class="user-link">{{activity.organiser.user.username|upper}}</a></p>
            <p><span class="fw-semibold">Date et heure de la sortie : </span>{{ activity.startDate|date("m/d/Y H:i", "Europe/Paris") }}</p>
            <p><span class="fw-semibold">Date limite d'inscription : </span>{{ activity.closingDate|date("m/d/Y", "Europe/Paris")  }}</p>
            <p><span class="fw-semibold">Nombre de place : </span>{{ activity.maxRegistration }}</p>
            <p><span class="fw-semibold">Durée : </span>{{ activity.duration }} minutes</p>
            <p><span class="fw-semibold">Description et infos : </span>{{ activity.description }}</p>
            <p><span class="fw-semibold">Lieu : </span>{{ activity.location.locationName }}</p>
        </div>
        <div class="text-center">
            {% if activity.organiser.user == app.user and activity.state.id == 1 %}
                <a href="{{ path("activity_update",{'id': activity.id})}}" class="btn btn-secondary">Modifier</a>
            {% endif %}
            {% if activity.organiser.user == app.user and (activity.state is not null and (activity.state.id == 2 or activity.state.id == 3))%}
                <a href="{{ path("activity_cancel",{'id': activity.id}) }}" class="btn btn-danger">Annuler la sortie</a>
            {% endif %}
            {% if activity.state is not null and activity.state.id == 1  %}
                <a href="{{ path("activity_delete",{'id': activity.id}) }}" onclick="deleteEvent(event)" class="btn btn-danger">Supprimer</a>
            {% endif %}
            {% if activity.state is not null and activity.state.id == 2 %}
                {% set isRegistered = false %}
                {% for registration in activity.registrations %}
                    {% if registration.participant == app.user.userProfile %}
                        {% set isRegistered = true %}
                    {% endif %}
                {% endfor %}

                {# check if there are still places for this activity #}
                {% set regMax = activity.maxRegistration %}
                {% set regNumber = activity.registrations|length %}
                {% if regNumber < regMax %}
                    {% if isRegistered and activity.startDate > date('now') %}
                        <a href="{{ path("activity_quit",{'id': activity.id})}}" class="btn btn-warning">Se désister</a>
                    {% elseif not isRegistered %}
                        <a href="{{ path("activity_participate",{'id': activity.id})}}" class="btn btn-success">S'inscrire</a>
                    {% endif %}
                    {% if activity.state is not null and activity.state.id == 1  %}
                        <a href="{{ path("activity_delete",{'id': activity.id}) }}" onclick="deleteEvent(event)" class="btn btn-danger">Supprimer</a>
                    {% endif %}
                    {% if activity.state is not null and activity.state.id == 2 %}
                        {% set isRegistered = false %}
                        {% for registration in activity.registrations %}
                            {% if registration.participant == app.user.userProfile %}
                                {% set isRegistered = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <div class="col my-3">
            <h3 class="text-center">Liste des participants</h3>
            <table class="table table-hover">
                <thead class="sticky-top shadow table-primary">
                    <tr>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Nom</th>
                    </tr>
                </thead>
                <tbody>
                {% for registration in activity.registrations %}
                    <tr class="align-middle">
                        <td><a href="{{ path("user_profile",{'id': registration.participant.user.id}) }}" class="user-link">{{ registration.participant.user.username|upper }}</a></td>
                        <td>{{ registration.participant.firstName }} {{ registration.participant.lastName|upper }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{asset('assets/js/script.js')}}"></script>
{% endblock %}
