{% extends 'base.html.twig' %}

{% block title %}activity details{% endblock %}

{% block body %}
    <h1>Afficher une sortie</h1>

    <p>Nom de la sortie : {{ activity.activityName }}</p>
    <p>Date et heure de la sortie : {{ activity.startDate|date("m/d/Y H:i", "Europe/Paris") }}</p>
    <p>Date limite d'inscription : {{ activity.closingDate|date("m/d/Y", "Europe/Paris")  }}</p>
    <p>Nombre de place : {{ activity.maxRegistration }}</p>
    <p>Durée : {{ activity.duration }} minutes</p>
    <p>Description et infos : {{ activity.description }}</p>
    <p>Lieu : {{ activity.location.locationName }}</p>
    <p>Rue : {{ activity.location.street }}</p>
    <p>Ville : {{ activity.location.city.cityName }}</p>
    <p>Code postal : {{ activity.location.city.postCode }}</p>
    <p>Latitude : {{ activity.location.latitude }}</p>
    <p>Longitude : {{ activity.location.longitude }}</p>

    <h2>Liste des participants</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Pseudo</th>
            <th scope="col">Nom</th>
        </tr>
        </thead>

        <tbody>
        {% for registration in activity.registrations %}
            <tr>
                <td>{{ registration.participant.user.username }}</td>
                <td>{{ registration.participant.firstName }} {{ registration.participant.lastName|upper }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
