{% extends 'base.html.twig' %}

{% block title %}activitie details{% endblock %}

{% block body %}
    <h1>Afficher les sorties</h1>
    {{ form_start(form) }}
        <div>
            {{ form_label(form.keyWord) }}
            {{ form_widget(form.keyWord) }}
            {{ form_errors(form.keyWord) }}
        </div>
        <div>
            {{ form_label(form.site) }}
            {{ form_widget(form.site) }}
            {{ form_errors(form.site) }}
        </div>
        <div>
            {{ form_label(form.startDate) }}
            {{ form_widget(form.startDate) }}
            {{ form_errors(form.startDate) }}
        </div>
        <div>
            {{ form_label(form.endDate) }}
            {{ form_widget(form.endDate) }}
            {{ form_errors(form.endDate) }}
        </div>
        <div>
            {{ form_label(form.isTheOrganiser) }}
            {{ form_widget(form.isTheOrganiser) }}
            {{ form_errors(form.isTheOrganiser) }}
        </div>
        <div>
            {{ form_label(form.isRegistered) }}
            {{ form_widget(form.isRegistered) }}
            {{ form_errors(form.isRegistered) }}
        </div>
        <div>
            {{ form_label(form.isNotRegistered) }}
            {{ form_widget(form.isNotRegistered) }}
            {{ form_errors(form.isNotRegistered) }}
        </div>
        <div>
            {{ form_label(form.isFinished) }}
            {{ form_widget(form.isFinished) }}
            {{ form_errors(form.isFinished) }}
        </div>

        <div>
            {{ form_widget(form.submit) }}
        </div>
    {{ form_end(form) }}
{# ------------------------------ version JS ------------------------------ #}
{#    <div class="js-user"#}
{#         data-user="{{ app.user.username|serialize(format = 'json') }}"#}
{#    >#}
{#        <div>#}
{#            <input type="checkbox" id="isTheOrganiser" class="">#}
{#            <label for="isTheOrganiser">Sorties dont je suis l'organisteur/trice</label>#}
{#        </div>#}
{#        <div>#}
{#            <input type="checkbox" id="isRegistered" class="">#}
{#            <label for="isRegistered">Sorties auxquelles je suis inscrit/e</label>#}
{#        </div>#}
{#        <div>#}
{#            <input type="checkbox" id="isNotRegistered" class="">#}
{#            <label for="isNotRegistered">Sorties auxquelles je ne suis pas inscrit/e</label>#}
{#        </div>#}
{#        <div>#}
{#            <input type="checkbox" id="isFinished" class="">#}
{#            <label for="isFinished">Sorties passées</label>#}
{#        </div>#}
{#    </div>#}

    <table class="table table-hover" id="activity-table">
        <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.activityName }}</td>
                <td>{{ activity.startDate|date("d/m/Y H:i", "Europe/Paris") }}</td>
                <td>{{ activity.closingDate|date("d/m/Y", "Europe/Paris")  }}</td>

                <td>{{ activity.registrations|length  }} / {{ activity.maxRegistration }}</td>
                <td>{{ activity.state.label }}</td>
                <td>
                    {% for registration in activity.registrations %}
                        {% if registration.participant.id == app.user.id %}
                        x
                        {% endif %}
                    {% endfor %}
                </td>

                <td> <a href="{{ path("user_profile",{'id': activity.organiser.user.id}) }}"> {{ activity.organiser.user.username}}</a></td>
                <td>
                    {% if activity.organiser.user == app.user and activity.state.id == 1 %}
                        <a href="{{ path("activity_update",{'id': activity.id})}}" class="btn btn-secondary">Modifier</a>
                    {% else %}
                        <a href="{{ path("activity_details",{'id': activity.id})}}" class="btn btn-primary">Afficher</a>
                    {% endif %}
                    {% if activity.organiser.user == app.user and (activity.state is not null and (activity.state.id == 2 or activity.state.id == 3))%}
                        <a href="{{ path("activity_cancel",{'id': activity.id}) }}" class="btn btn-danger">Annuler</a>
                    {% endif %}
                    
                    
                    {% if activity.state is not null and activity.state.id == 2 %}
                        {% set isRegistered = false %}
                        {% for registration in activity.registrations %}
                            {% if registration.participant == app.user.userProfile %}
                                {% set isRegistered = true %}
                            {% endif %}
                        {% endfor %}
                        {% if isRegistered and activity.startDate > date('now') %}
                            <a href="{{ path("activity_quit",{'id': activity.id})}}" class="btn btn-warning">Se désister</a>
                        {% elseif not isRegistered %}
                            <a href="{{ path("activity_register",{'id': activity.id})}}" class="btn btn-success">S'inscrire</a>
                        {% endif %}
                    {% endif %}
                </td>
        {% endfor %}


        </tbody>
    </table>
    <script src="{{asset('assets/js/script.js')}}"></script>
{% endblock %}

