{% extends 'base.html.twig' %}


{% block title %}activitie details{% endblock %}

{% block h2 %}Les sorties du moment{% endblock %}
{% block body %}
    <div class="filter-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#filter" aria-controls="filter" aria-expanded="false" aria-label="Toggle navigation">
        <span class="btn btn-primary">filtrer les sorties</span>
    </div>
    <div class="container">
        <div class="collapse filter-collapse" id="filter">
            {{ form_start(form) }}
                <div class="col">
                    <div class="my-1">
                        {{ form_label(form.site) }}
                        {{ form_widget(form.site) }}
                        {{ form_errors(form.site) }}
                    </div>
                    <div class="my-1">
                        {{ form_label(form.keyWord) }}
                        {{ form_widget(form.keyWord) }}
                        {{ form_errors(form.keyWord) }}
                    </div>
                    <div class="my-1">
                        {{ form_label(form.startDate) }}
                        {{ form_widget(form.startDate) }}
                        {{ form_errors(form.startDate) }}

                        {{ form_label(form.endDate) }}
                        {{ form_widget(form.endDate) }}
                        {{ form_errors(form.endDate) }}
                    </div>
                </div>
                <div class="col">
                    <div>
                        {{ form_widget(form.isTheOrganiser) }}
                        {{ form_label(form.isTheOrganiser) }}
                        {{ form_errors(form.isTheOrganiser) }}
                    </div>
                    <div class="my-1">
                        {{ form_widget(form.isRegistered) }}
                        {{ form_label(form.isRegistered) }}
                        {{ form_errors(form.isRegistered) }}
                    </div>
                    <div class="my-1">
                        {{ form_widget(form.isNotRegistered) }}
                        {{ form_label(form.isNotRegistered) }}
                        {{ form_errors(form.isNotRegistered) }}
                    </div>
                    <div class="my-1">
                        {{ form_widget(form.isFinished) }}
                        {{ form_label(form.isFinished) }}
                        {{ form_errors(form.isFinished) }}
                    </div>
                </div>
                <div class="text-center">
                    {{ form_widget(form.submit,{'attr': { 'class':"btn btn-success btn-width btn-height"}})}}
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="tbl-height mt-4 m-auto ">
        <table class="table table-hover" id="activity-table">
            <thead class="sticky-top shadow table-primary">
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th class="d-none d-md-table-cell" scope="col">Clôture</th>
                    <th class="d-none d-md-table-cell" scope="col">inscrits/places</th>
                    <th class="d-none "  scope="col">Etat</th>
                    <th class="d-none d-md-table-cell "  scope="col">Inscrit</th>
                    <th class=""  scope="col">Organisateur</th>
                    <th class="d-none d-lg-table-cell " scope="col">Actions</th>
                </tr>
            </thead>

            <tbody class="">
            {% for activity in activities %}
                {% set regMax = activity.maxRegistration %}
                {% set regNumber = activity.registrations|length %}
                <tr class="align-middle">
                    <td class="">{{ activity.activityName }}</td>
                    <td>{{ activity.startDate|date("d/m/Y H:i", "Europe/Paris") }}</td>
                    <td class="d-none d-md-table-cell" >{{ activity.closingDate|date("d/m/Y", "Europe/Paris")  }}</td>

                    <td class="d-none d-md-table-cell" >
                        {{ activity.registrations|length  }} / {{ activity.maxRegistration }}
                        {% if regNumber == regMax %}
                            <span class="badge bg-danger">Complet</span >
                        {% endif %}
                    </td>

                    <td class="d-none" >{{ activity.state.label }}</td>
                    <td class="d-none d-md-table-cell" >
                        {% for registration in activity.registrations %}
                            {% if registration.participant.id == app.user.id %}
                                x
                            {% endif %}
                        {% endfor %}
                    </td>

                    <td> <a href="{{ path("user_profile",{'id': activity.organiser.user.id}) }}" class="user-link"> {{ activity.organiser.user.username}}</a></td>
                    <td class="d-none d-lg-table-cell" >
                        {% if activity.organiser.user == app.user and activity.state.id == 1 %}
                            <a href="{{ path("activity_update",{'id': activity.id})}}" class="btn btn-secondary btn-width">Modifier</a>
                        {% else %}
                            <a href="{{ path("activity_details",{'id': activity.id})}}" class="btn btn-primary btn-width">Afficher</a>
                        {% endif %}
                        {% if activity.organiser.user == app.user and (activity.state is not null and (activity.state.id == 2 or activity.state.id == 3 or activity.state.id == 1))%}
                            <a href="{{ path("activity_cancel",{'id': activity.id}) }}" class="btn btn-danger btn-width">Annuler</a>
                        {% endif %}
                        {% if activity.state is not null and activity.state.id == 2 %}
                            {% set isRegistered = false %}
                            {% for registration in activity.registrations %}
                                {% if registration.participant == app.user.userProfile %}
                                    {% set isRegistered = true %}
                                {% endif %}
                            {% endfor %}

                            {# check if there are still places for this activity #}
                            {% if regNumber < regMax %}
                                {% if isRegistered and activity.startDate > date('now') %}
                                    <a href="{{ path("activity_quit",{'id': activity.id})}}" class="btn btn-warning btn-width">Se désister</a>
                                {% elseif not isRegistered %}
                                    <a href="{{ path("activity_register",{'id': activity.id})}}" class="btn btn-success btn-width">S'inscrire</a>
                                {% endif %}
                            {% else %}
                                {% if isRegistered and activity.startDate > date('now') %}
                                    <a href="{{ path("activity_quit",{'id': activity.id})}}" class="btn btn-warning btn-width">Se désister</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{asset('assets/js/script.js')}}"></script>
{% endblock %}

