{% extends 'base.html.twig' %}

{% block title %}activitie details{% endblock %}

{% block body %}
    <h1>Afficher les sorties</h1>

    {{ form(form) }}

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.activityName }}</td>
                <td>{{ activity.startDate|date("m/d/Y H:i", "Europe/Paris") }}</td>
                <td>{{ activity.closingDate|date("m/d/Y", "Europe/Paris")  }}</td>

                <td>{{ activity.registrations|length  }} / {{ activity.maxRegistration }}</td>
                <td>{{ activity.state.label }}</td>
                <td></td>
                <td>{{ activity.organiser.user.username}}</td>
                <td><a href="{{ path("activity_details",{'id': activity.id})}}">Afficher</a></td>

                {% if activity.getState() is not null and activity.getState().getLabel() == "Ouverte" %}
                    {% set isRegistered = false %}
                    {% for registration in activity.getRegistrations() %}
                        {% if registration.getParticipant() == app.user.userProfile %}
                            {% set isRegistered = true %}
                        {% endif %}
                    {% endfor %}
                    {% if isRegistered %}
                        <td><a href="{{ path("activity_quit",{'id': activity.id})}}">Désister</a></td>
                    {% else %}
                        <td><a href="{{ path("activity_register",{'id': activity.id})}}">S'inscrire</a></td>
                    {% endif %}
                {% endif %}

        {% endfor %}
        </tbody>
    </table>
{% endblock %}
