{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.username }}{% endblock %}
{% block h2 %}{{ user.username }}{% endblock %}
{% block body %}
    <p>Prénom : {{ user.userProfile.firstName }}</p>
    <p>Nom : {{user.userProfile.lastName }}</p>
    <p>Téléphone : {{ user.userProfile.phoneNumber }}</p>
    <p>Email : {{ user.userProfile.emailAdress }}</p>
    <p>Site de rattachement : {{ user.userProfile.site.siteName}}</p>




{% endblock %}
