{% extends '../base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <h1>Modifier mon profil </h1>
    <h2>Connexion</h2>
    {{ form_start(formUser) }}

    {{ form_label(formUser.username) }}
    {{ form_widget(formUser.username) }}
    {{ form_errors(formUser.username) }}

    {{ form_label(formUser.password) }}
    {{ form_widget(formUser.password) }}
    {{ form_errors(formUser.password) }}

    {{ form_label(formUser.profile) }}
        {{ form_label(formUser.profile.lastName) }}
        {{ form_widget(formUser.profile.lastName) }}
        {{ form_errors(formUser.profile.lastName) }}

        {{ form_label(formUser.profile.firstName) }}
        {{ form_widget(formUser.profile.firstName) }}
        {{ form_errors(formUser.profile.firstName) }}

        {{ form_label(formUser.profile.phoneNumber) }}
        {{ form_widget(formUser.profile.phoneNumber) }}
        {{ form_errors(formUser.profile.phoneNumber) }}

        {{ form_label(formUser.profile.emailAdress) }}
        {{ form_widget(formUser.profile.emailAdress) }}
        {{ form_errors(formUser.profile.emailAdress) }}

        {{ form_label(formUser.profile.site) }}
        {{ form_widget(formUser.profile.site) }}
        {{ form_errors(formUser.profile.site) }}



    <button type="submit">Enregistrer</button>
    {{ form_end(formUser) }}

{% endblock %}
